body {
  width: 850px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.banner {
  width: 850px;
  height: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.principal {
  background-image: url("img/fondo_carrito");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 300px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.grande{

}

.icono {
  width: 30px;
  height: 20px;
}

.fijo {
  width: 35px;
}

p {
  text-align: justify;
}

footer {
  width: 850px;
  border: solid;
  border-color: blue;
}

address {
  padding-top: 15px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
